* {
    margin: 0;
    padding: 0;
}

#aboutPage {
    margin: 1em 0 0 0;
}

#textSess {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.textBox {
    width: 90%;
    border:  rgb(241, 241, 241) solid 2px;
    margin-top: 2em;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #AFB884;
}