#editForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#cancel {
    background-color: rgb(191, 65, 65);
    color: white;
    font-size: 14px;
    border: 2px solid white;
    text-decoration: none;
    text-align: center;
    padding: 2px;
}

#confirm {
    background-color: rgb(111, 165, 29);
    color: white;
    font-size: 14px;
    border: 2px solid white;
    text-decoration: none;
    text-align: center;
    padding: 2px;
}

.margin {
    margin-left: 1em;
    margin-top: 1em;
}

textarea {
    resize: vertical;
}
