#editForm {
    display: flex;
    flex-direction: column;
    width: 99%;
}

#cancel {
    background-color: rgb(191, 65, 65);
    color: white;
    font-size: 14px;
    border: 2px solid white;
    text-decoration: none;
    text-align: center;
    padding: 2px;
}

#confirm {
    background-color: rgb(111, 165, 29);
    color: white;
    font-size: 14px;
    border: 2px solid white;
    text-decoration: none;
    text-align: center;
    padding: 2px;
}

.margin {
    margin-left: 1em;
    margin-top: 1em;
}

textarea {
    resize: vertical;
    width: 97%;
}

.cancelButton {
    padding-left: 5px;
    padding-right: 5px;
    background-color:  rgb(191, 65, 65);
    color: white;
}

.inputEdit {
    background-color: #b3bd88;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#name {
    width: 97%;
}

#button {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 85%;
    border: white solid 5px;
}