* {
    margin: 0;
    border: 0;
}

body {
    background-color: white;
}

p {
    font-family: "BBH Hegarty", sans-serif;
    color: #E7B511;
    margin-top: 2em;
    
}

a {
    color: #AFB884;
    margin-left: 5px;
}

label {
    font-family: "Google Sans", sans-serif;
    color: #AFB884;
}

.title {
    font-family: "BBH Hegarty", sans-serif;
    color: #E7B511;
    background-color: white;
    width: min-content;
    transform: translateY(-35px) translateX(20px);
    padding-left: 10px;
    padding-right: 10px;
}

input {
    display: block;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

/*Center*/

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

/*CSS for divs*/

.divForm {
    background-color: white;
    width: 90%;
    height: 80%;
    padding: 1em;
    border: #AFB884 0.2em solid;
    border-radius: 1em;
    background-color: ;
}

.hidden {
    display: none;
}

/*CSS for inputs*/

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8em;
}
    
.formInput {
    background-color: white;
    border: #AFB884 solid 0.15em;
    border-radius: 0.2em;
    width: 20em;
    
}

.formInput::placeholder {
    color: #AFB884
}

.button {
    background-color: #AFB884;
    color: white;
    border: #AFB884 solid 0.1em;
    border-radius: 0.5em;
    margin-left: 18%;
    margin-top: 5px;
    width: fit-content;
}

.error-message {
    background-color: pink;
    width: fit-content;
    font-family: "Google Sans", sans-serif;
    color: black;
    padding: 3px;
    padding-right: 6px;
    border: solid rgb(253, 167, 167) 2px;
    outline: 2px solid pink;
    border-radius: 5px;
}

#nTips {
    color: grey;
    font-size: 10px;
    font-family: "Google Sans", sans-serif;
}