* {
    margin: 0;
    border: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 0.5em;
}

a {
    color: #AFB884;
}

.title {
    font-family: Helvetica;
    color: #E7B511;
}

body {
    background-color: white;
}

input {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

/*Center*/

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #E2C15D;
}

/*CSS for divs*/

.divForm {
    background-color: white;
    width: fit-content;
    padding: 1em;
    border: #AFB884 0.2em solid;
    border-radius: 1em;
    background-color: #dccda8;
}

.hidden {
    display: none;
}

/*CSS for inputs*/

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8em;
}

.formInput {
    background-color: white;
    border: #AFB884 solid 0.2em;
    border-radius: 0.2em;
}

.formInput::placeholder {
    color: #AFB884
}

.button {
    background-color: #AFB884;
    color: white;
    border: #AFB884 solid 0.1em;
    border-radius: 0.5em;
    margin-left: 60%;
    margin-top: 5px;
}
