* {
    margin: 0;
    border: 0;
}

body {
    background-color: white;
}

p {
    font-family: "BBH Hegarty", sans-serif;
    color: white;
    margin-top: 0.5em;
}

a {
    color: #AFB884;
}

.title {
    font-family: "BBH Hegarty", sans-serif;
    color: #E7B511;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: min-content;
    margin-left: 10px;
    transform: translateY(-35px);
}


input {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

/*Center*/

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

/*CSS for divs*/

.divForm {
    background-color: white;
    width: 90%;
    height: 80%;
    padding: 1em;
    border: #AFB884 0.2em solid;
    border-radius: 1em;
    background-color: ;
}

.hidden {
    display: none;
}

/*CSS for inputs*/

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8em;
}
    
.formInput {
    background-color: white;
    border: #AFB884 solid 0.2em;
    border-radius: 0.2em;
}

.formInput::placeholder {
    color: #AFB884
}

.button {
    background-color: #AFB884;
    color: white;
    border: #AFB884 solid 0.1em;
    border-radius: 0.5em;
    margin-left: 60%;
    margin-top: 5px;
}

/*
#dccda8
*/