* {
    margin: 0;
    border: 0;
}

body {
    background-color: white;
}

input {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

/*Center*/

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/*CSS for divs*/

.divForm {
    background-color: white;
    width: fit-content;
    padding: 1em;
    border: black 0.2em solid;
    border-radius: 1em;
}


.hidden {
    display: none;
}

/*CSS for inputs*/

.formInput {
    background-color: white;
    border: black solid 0.1em;
    border-radius: 0.2em;
}

.button {
    background-color: white;
    color: black;
    border: black solid 0.1em;
    border-radius: 0.2em;
    margin-left: 60%;
}
