* {
    margin: 0;
    padding: 0;
}

#textSess {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.textBox {
    width: 90%;
    border:  rgb(241, 241, 241) solid 2px;
    margin-top: 2em;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 20px;
}

#emailSess {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

form div {
    margin-bottom: 1em;
}

label {
    display: block;
}

input {
    width: 15em;
}

textarea {
    width: 12.556em;
    resize: vertical;
}