* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style */

header {
    background-color: #AFB884;
    width: 100%;
}

#navbar {
    width: fit-content;
    background-color: #AFB884;
    color: white;
}

.textfornav {
    background-color: #AFB884;
    padding: 10px;
}

.textfornav:hover {
    height: fit-content;
    background-color: #b3bd88;
}

#imgDescriptionId {
    height: 35px;
    max-width: 50%;
    min-width: 50%;
    min-height: 6em;
    max-height: 15em;
}

#errorBox {
    background-color: rgb(251, 172, 172);
    color: rgb(200, 103, 103);
    border: rgb(200, 103, 103) 2px solid;
    border-radius: 5px;
    outline: solid rgb(251, 172, 172);
    padding: 10px;
}

#imgDiv{
}

#inputImage{
    display: none;
}

#imgInputStraw{
    background-color: white;
}

/* Flexbox */

#addPhoto {
    width: 100%;
    margin: 1.5em;
}

#page {
    display: flex;
    width: 100%;
}

#photo {
    background-color: #AFB884;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
}

input {
}

#fileInput {
    display: flex;
    flex-direction: column;
}

#flex-img-name{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}