* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Style */

#imgDescriptionId {
    resize: none;
    height: 10em;
}

#errorBox {
    background-color: rgb(251, 172, 172);
    color: rgb(200, 103, 103);
    border: rgb(200, 103, 103) 2px solid;
    border-radius: 5px;
    outline: solid rgb(251, 172, 172);
    padding: 10px;
}

#imgDiv {
    height: 20em;
    width: 20em;
    background-color: #b3bd88;
    border: #6b9063 solid 3px;
    margin-right: 1em;
    border-radius: 1em;
}

#imgDivActive {
    background-color: transparent;
    background-image: url("https://png.pngtree.com/png-clipart/20250118/original/pngtree-golden-retriever-dog-pictures-png-image_20183713.png");
    background-size: contain;
}

#inputImage{
    display: none;
}

#imgInputStraw{
    background-color: #b3bd88;
    font-family: "BBH Hegarty", sans-serif;
    color: #6b9063;
    width: 50%;
    text-align: center;
}

.insert {
    display: block;
    background-color: #b3bd88;
    border: solid 3px #6b9063;
    border-radius: 1em;
    color: #6b9063;
    padding: 0.2em;
    width: 90%;
}

#photo {
    border: #6b9063 solid 3px;
    padding: 1em;
    background-color: #AFB884;
    border-radius: 1em;
}

input[type="radio"]{
    background-color: #6b9063;
}

#line {
    background-color: #b3bd88;
    border: none;
    height: 1em;
}

#title {
    background-color: white;
    font-family: "BBH Hegarty", sans-serif;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    position: absolute;
    transform: translateY(-0.87em) translateX(1em);
    color: #b3bd88
}

/* Flexbox */

#imgDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#photo {
    width: fit-content;
    margin: 1.5em;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

input {
    
}

#fileInput {
    display: flex;
    flex-direction: row;
}

#flex-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#flex-rest{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#imgs {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 3em;
}

#imgs img {
    border-radius: 10px;
    border: #AFB884 solid 3px;
}

/* Dropdown nav content */

header {
    background-color: #AFB884;
    width: 100%;
}

#navbar {
    width: 100%;
    background-color: #AFB884;
    color: white;
}

.textfornav {
    background-color: #AFB884;
    padding: 10px;
    border: none;
    color: white;
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.textfornav:hover {
    height: fit-content;
    background-color: #b3bd88;
}

#pfpContainer {
    display: flex;
    justify-content: flex-end;  
    width: 70%;
}

.dropdownMe-content {
    display: none;
    position: fixed;
    background-color: #AFB884;
    width: auto;
    height: auto;
    transform: translateY(0.5em) translateX(-0.6em);
    z-index: 1;
}

li {
    list-style-type: none;
    padding: 5px;
}

.navLink {
    color: white;
    text-decoration: none;
}

#userPfp {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    padding: 2px;
}

#profile {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

li:hover {
    background-color: #b3bd88;
}

.dropdownMe:hover .dropdownMe-content {
    display: block;
}

@media (max-width: 528px) {
    #title {
        font-size: 20px;
    }
}
/* Just wanted to note an alternative way to do imgs img but without js

#imgs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#imgs img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

*/