* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", Arial, Helvetica, sans-serif;
}

/* Style */

header {
    background-color: #AFB884;
    width: 100%;
}

#navbar {
    width: fit-content;
    background-color: #AFB884;
    color: white;
}

.textfornav {
    background-color: #AFB884;
    padding: 10px;
}

.textfornav:hover {
    height: fit-content;
    background-color: #b3bd88;
}

#imgDescriptionId {
    resize: none;
    height: 10em;
}

#errorBox {
    background-color: rgb(251, 172, 172);
    color: rgb(200, 103, 103);
    border: rgb(200, 103, 103) 2px solid;
    border-radius: 5px;
    outline: solid rgb(251, 172, 172);
    padding: 10px;
}

#imgDiv{
    height: 20em;
    width: 20em;
    background-color: #b3bd88;
    border: #6b9063 solid 3px;
    margin-right: 1em;
    border-radius: 1em;
}

#inputImage{
    display: none;
}

#imgInputStraw{
    background-color: #b3bd88;
    font-family: "BBH Hegarty", sans-serif;
    color: #6b9063;
    width: 50%;
    text-align: center;
}

.insert {
    display: block;
    background-color: #b3bd88;
    border: solid 3px #6b9063;
    border-radius: 1em;
    color: #6b9063;
    padding: 0.2em;
    width: 90%;
}

#photo {
    border: #6b9063 solid 3px;
    padding: 1em;
    background-color: #AFB884;
    border-radius: 1em;
}

input[type="radio"]{
    background-color: #6b9063;
}

#line {
    background-color: #b3bd88;
    border: none;
    height: 1em;
}

#title {
    background-color: white;
    font-family: "BBH Hegarty", sans-serif;
    padding: 0.5em;
    position: absolute;
    transform: translateY(-1.3em) translateX(1em);
    color: #b3bd88
}

/* Flexbox */

#imgDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#photo {
    width: fit-content;
    margin: 1.5em;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
}

input {
    
}

#fileInput {
    display: flex;
    flex-direction: row;
}

#flex-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#flex-rest{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}