* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style */

header {
    background-color: #E7B511;
    width: 100%;
}

#navbar {
    width: fit-content;
    background-color: #E7B511;
    color: white;
}

.textfornav {
    background-color: #E7B511;
    padding: 10px;
}

.textfornav:hover {
    height: fit-content;
    background-color: #E2C15D;
}

#addPhoto {
    color: white;
    margin: 5em;
    padding: 2em;
    width: 20%;
    background-color: #E2C15D;
    border: #E7B511 solid 10px;
    border-radius: 10px;
}

#imgDescriptionId {
    height: 35px;
    max-width: 100%;
    min-width: 100%;
    min-height: 6em;
    max-height: 15em;
}

#errorBox {
    background-color: rgb(251, 172, 172);
    color: rgb(200, 103, 103);
    border: rgb(200, 103, 103) 2px solid;
    border-radius: 5px;
    outline: solid rgb(251, 172, 172);
    padding: 10px;
}

/* Flexbox */

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
}

#addPhoto {
}

input {
    margin: 5px;
}

#fileInput {
    display: flex;
    flex-direction: column;
}