* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style */


header {
    background-color: #E7B511;
    width: 100%;
}

#navbar {
    width: fit-content;
    background-color: #E7B511;
    color: white;
}

.textfornav {
    background-color: #E7B511;
    padding: 10px;
}

.textfornav:hover {
    height: fit-content;
    background-color: #E2C15D;
}




/* Flexbox */

#navbar {
    display: flex;
    justify-content: space-evenly;
}
