* {
    margin: 0;
    padding: 0;
}


/* Page */

#pageGallery {
    margin: 1em 0 0 0;
}

#UserImages {
    margin: 1em;
    height: 12.5em;
    overflow-y: scroll;
}

#UserImages img {
    border: solid 3px #b3bd88;
    border-radius: 5px;
    margin: 1em;
}

#filterTitle {
    color: #AFB884;
}

#searchBox {
    margin-top: 0.7em;
    border: solid 2px #AFB884;
    width: fit-content;
    height: fit-content;
    border-radius: 1em;
}

#searchBox img {
    margin-left: 5px;
    
}

#nameSearch {
    border: none;
    border-left: #b3bd88 solid 1px;
    padding-left: 5px;
    margin-right: 5px;
    background-color: none;
}

.boxTitle {
    margin-bottom: 2em;
    display: block;
}

#filterBox {
    margin: 2em;
    width: 50%;
}

#type {
    margin-top: 1em;
    border: solid 1px #AFB884;
    border-radius: 1em;
    padding-left: 5px;
    background-color: white;
}

#typePrivacy {
    margin-top: 1em;
    border: solid 1px #AFB884;
    border-radius: 1em;
    padding-left: 5px;
    background-color: white;
}

/* Flexbox */

#filterBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardStyle{
    width: fit-content;
    height: fit-content;
    background-color: #b3bd88;
    border: #6b9063 solid 2px;
    border-radius: 10px;
    padding: 10px;
}

.hoverBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 94%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #ede8d0b1;
    overflow-y: hidden;
    z-index: 1;
}

.hidden {
    display: none;
}
