* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style */


header {
    background-color: #AFB884;
    width: 100%;
}

#navbar {
    width: fit-content;
    background-color: #AFB884;
    color: white;
}

.textfornav {
    background-color: #AFB884;
    padding: 10px;
}

.textfornav:hover {
    height: fit-content;
    background-color: #b3bd88;
}

#imgDescriptionId {
    height: 35px;
    max-width: 100%;
    min-width: 100%;
    min-height: 6em;
    max-height: 15em;
}

/* Flexbox */

#page {
    display: flex;
    width: 100%;
}

#photo {
    margin: 3em;
    background-color: #AFB884;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
}

input {
    margin: 5px;
}

#fileInput {
    display: flex;
    flex-direction: column;
}